@page "/"


<PageTitle>Domino</PageTitle>

<BSNav IsTabs="true">
    <BSNavItem>
        <TabLabel><span class="oi oi-play-circle"></span> Play</TabLabel>
        <TabContent>
            <div class="container @(Playing ? "d-none" : "")">
                <div class="row row-col-3">
                    <div class="col" style="text-align: center; padding-top: 150px">
                        <h1 class="Domino">Domino</h1>
                        <BSButton class="btn-main" Color="BSColor.Primary" style="font-size: 25px;" @onclick="@Play"><span>Play</span><i></i></BSButton>
                    </div>
                    <div class="col-3" style="padding-top: 25px;">
                    </div>
                </div>
            </div>
            <div class="container @(!Playing ? "d-none" : "")">
                <div class="contain">
                    <button type="button" class="btn-main" @onclick="@Stats"><span>ShowPlays</span><i></i></button>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-7">
                            <h1 style="font-weight: bold;">Winner: @Winner</h1>
                            <h2 style="font-weight: bold;">Game: @(Count+1)</h2>
                        </div>
                        <div class="col-3">
                            <div style="overflow:auto; overflow-x:hidden;height:250px;">
                                <h2 style="font-weight: bold">Plays</h2>
                                @if(ShowList && Games != null && Count < Games.Length){
                                    @foreach (var item in Games[Count].Rounds!)
                                    {
                                        @if(item.Piece == null){
                                            <p>Pass - @item.Player.ToString()</p>
                                        }
                                        else{
                                            <p>@item.Piece.ToString() - @item.Player.ToString()</p>
                                        }
                                    }
                                    if(Count + 1 < Games.Length)
                                        Count++;
                                }
                            </div>
                        </div>
                        <div class="col-2">
                            @if(Table != null){
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="font-weight: bold;">Player</th>
                                            <th scope="col" style="font-weight: bold;">Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Table)
                                        {
                                            <tr>
                                                <td>@item.Key.ToString()</td>
                                                <td>@item.Value.ToString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>@PiecesBoard</p>
                    </div>
                </div>
            </div> 
        </TabContent>
    </BSNavItem>

    <BSNavItem>
        <TabLabel><span class="oi oi-cog"></span> Settings</TabLabel>
        <TabContent>
            <div class="container" style="padding-top: 20px;">
                <EditForm Model="@Values" OnSubmit="@Save">
                    <div class="row row-cols-5">
                        <div class="col">
                            <h3>Winnable</h3>
                            <InputRadioGroup @bind-Value="Values.Winnable">
                                @{
                                    bool isFirstChecked = true;
                                    @foreach (var item in settingsList.Winnables) {
                                        <div>
                                            @if(isFirstChecked)
                                            {
                                                isFirstChecked=false;
                                                <input type="radio" id="@item" name="radioWin" value="@item" checked/>
                                                <label for="@item">@item</label>
                                            }else{
                                                <input type="radio" id="@item" name="radioWin" value="@item"/>
                                                <label for="@item">@item</label>
                                            }
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="col">
                            <h3>Rounder</h3>
                            <InputRadioGroup @bind-Value="Values.Rounder">
                                 @{
                                    bool isFirstChecked = true;
                                    @foreach (var item in settingsList.Rounders) {
                                        <div>
                                            @if(isFirstChecked)
                                            {
                                                isFirstChecked=false;
                                                <input type="radio" id="@item" name="radioRounder" value="@item" checked/>
                                                <label for="@item">@item</label>
                                            }else{
                                                <input type="radio" id="@item" name="radioRounder" value="@item"/>
                                                <label for="@item">@item</label>
                                            }
                                            
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="col">
                            <h3>Shuffler</h3>
                            <InputRadioGroup @bind-Value="Values.Shuffler">
                                 @{
                                    bool isFirstChecked = true;
                                    @foreach (var item in settingsList.Shufflers) {
                                        <div>
                                            @if(isFirstChecked)
                                            {
                                                isFirstChecked=false;
                                                <input type="radio" id="@item" name="radioShuffler" value="@item" checked/>
                                                <label for="@item">@item</label>
                                            }else{
                                                <input type="radio" id="@item" name="radioShuffler" value="@item"/>
                                                <label for="@item">@item</label>
                                            }
                                            
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="col">
                            <h3>HandCounter</h3>
                            <InputRadioGroup @bind-Value="Values.HandCounter">
                                @{
                                    bool isFirstChecked = true;
                                    @foreach (var item in settingsList.HandCounters) {
                                        <div>
                                            @if(isFirstChecked)
                                            {
                                                isFirstChecked=false;
                                                <input type="radio" id="@item" name="radioHand" value="@item" checked/>
                                                <label for="@item">@item</label>
                                            }else{
                                                <input type="radio" id="@item" name="radioHand" value="@item"/>
                                                <label for="@item">@item</label>
                                            }
                                            
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="col">
                            <h3>Board</h3>
                            <InputRadioGroup @bind-Value="Values.Board">
                                @{
                                    bool isFirstChecked = true;
                                    @foreach (var item in settingsList.Boards) {
                                        <div>
                                            @if(isFirstChecked)
                                            {
                                                isFirstChecked=false;
                                                <input type="radio" id="@item" name="radioBoard" value="@item" checked/>
                                                <label for="@item">@item</label>
                                            }else{
                                                <input type="radio" id="@item" name="radioBoard" value="@item"/>
                                                <label for="@item">@item</label>
                                            }
                                            
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 25px;">
                        <div class="col" style="text-align: center;">
                            <label><span>Amount of Plays</span></label>
                            <input type="number" max="10" min="1" maxlength="1" @bind-value="Values.Amount"/>
                        </div>
                        <div class="col" style="text-align: center;">
                            <label><span>MaxHandSize</span></label>
                            <input type="number" max="10" min="7" maxlength="2" @bind-value="Values.MaxHandSize"/>
                        </div>
                        <div class="col" style="text-align: center;">
                            <label><span>Amount of Players</span></label>
                            <input type="number" max="4" min="2" maxlength="1" @bind-value="Values.AmountPlayers"/>
                        </div>
                        <div class="col" style="text-align: center;">
                            <label><span>MaximumSize</span></label>
                            <input type="number" max="100" min="6" maxlength="2" @bind-value="Values.MaximumSize"/>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 50px;">
                        <div class="col-3">
                            <InputRadioGroup @bind-Value="PlayerValues.Player1">
                                @{
                                    <input type="input-text" name="playerInput" required>
                                    bool isFirstChecked = true;
                                    @foreach (var player1 in settingsList.Players)
                                    {
                                        <div>
                                            @if(isFirstChecked)
                                            {
                                                isFirstChecked=false;
                                                <input type="radio" id="@player1" name="player1" value="@player1"checked/>
                                                <label>@player1</label>
                                            }else{
                                                <input type="radio" id="@player1" name="player1" value="@player1"/>
                                                <label>@player1</label>
                                            }
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                            
                        </div>
                        <div class="col-3">
                            <InputRadioGroup @bind-Value="PlayerValues.Player2">
                                @{
                                    <input type="input-text" name="playerInput2" required>
                                    bool isFirstChecked2 = true;
                                    @foreach (var player2 in settingsList.Players)
                                    {
                                        <div>
                                            @if(isFirstChecked2)
                                            {
                                                isFirstChecked2=false;
                                                <input type="radio" id="@player2" name="player2" value="@player2" checked/>
                                                <label>@player2</label>
                                            }else{
                                                <input type="radio" id="@player2" name="player2" value="@player2"/>
                                                <label>@player2</label>
                                            }
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="col-3">
                            <InputRadioGroup @bind-Value="PlayerValues.Player3">
                                @{
                                    <input type="input-text" name="playerInput3" required>
                                    bool isFirstChecked3 = true;
                                    @foreach (var player3 in settingsList.Players)
                                    {
                                        <div>
                                            @if(isFirstChecked3)
                                            {
                                                isFirstChecked3=false;
                                                <input type="radio" id="@player3" name="player3" value="@player3" checked/>
                                                <label>@player3</label>
                                            }else{
                                                <input type="radio" id="@player3" name="player3" value="@player3"/>
                                                <label>@player3</label>
                                            }
                                        </div>
                                    }
                                }
                            </InputRadioGroup>
                        </div>
                        <div class="col-3">
                                <InputRadioGroup @bind-Value="PlayerValues.Player4">
                                    @{
                                        <input type="input-text" name="playerInput4" required>
                                        bool isFirstChecked4 = true;
                                        @foreach (var player4 in settingsList.Players)
                                        {
                                            <div>
                                                @if(isFirstChecked4)
                                                {
                                                    isFirstChecked4=false;
                                                    <input type="radio" id="@player4" name="player4" value="@player4" checked/>
                                                    <label>@player4</label>
                                                }else{
                                                    <input type="radio" id="@player4" name="player4" value="@player4"/>
                                                    <label>@player4</label>
                                                }
                                            </div>
                                        }
                                    }
                                </InputRadioGroup>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 50px;">
                        <div class="col" style="text-align: center;">
                            <button class= "btn-main" type="submit"><span>Save</span><i></i></button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </TabContent>
    </BSNavItem>

    <BSNavItem>
        <TabLabel><span class="oi oi-question-mark"></span> Help</TabLabel>
        <TabContent>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Domino</h1>
                    </div>
                </div>
            </div>
        </TabContent>
    </BSNavItem>
</BSNav>



@code {

#region Play

    private Dictionary<string, int>? Table{get;set;}
    private bool Playing { get; set; } = false;
    private bool ShowList{get;set;} = false;
    private int Count{get;set;}
    private Value? MarkedValues{get;set;}
    private string? PiecesBoard{get;set;}
    private string? Winner{get;set;}
    private void Stats(){
        if(Count < Games!.Length)
        {
            ShowList = true;
            PiecesBoard = string.Empty;
            foreach (var play in Games[Count].Changes.Board.PiecesOnBoard!)
            {
                PiecesBoard += (play + " ");
            }
            Winner = Games[Count].Winner!.ToString();
            if(Count <= Games.Length && Table!.Sum(s=> s.Value) == Count)
                Table![Games![Count].Winner!.ToString()!]+=1;
            
        }
    }
    private GameObject[]? Games {get;set;}

    private void Play()
    {
        if(MarkedValues != null){
            Playing = true;
            if(TournamentClass.IsTournament(MarkedValues.GetAmount()))
            {
                Games = MakingGame.MakingGames(MarkedValues, MarkedValues.GetAmount());
                TournamentClass.PlayTournament(Games, new PlayGame());
            }
            else
            {
                Games = MakingGame.MakingGames(MarkedValues, 1);
                TournamentClass.PlayTournament(Games, new PlayGame());
            }
            CreatingTable(Games[Count].Players);
        }
    }
    private void CreatingTable(IPlayer[] players)
    {
        Table = new Dictionary<string, int>();
        foreach (var player in players)
        {
            Table.Add(player.ToString()!, 0);
        }
    }
#endregion

#region Settings
    public Value Values{get; set;} = new ();
    public PlayerValue PlayerValues{get;set;} = new ();
    private SettingsList settingsList{ get;} = new SettingsList();
    private void Save()
    {
        MarkedValues = new Value(Values.Winnable!, Values.Rounder!, Values.Shuffler!, 
                                Values.HandCounter!, Values.Board!, Values.Amount, 
                                Values.MaximumSize, Values.MaxHandSize, Values.AmountPlayers, Players.ToArray());
    }
    public List<string> Players { get; set; } = new List<string>();
    void CheckboxClicked(string player, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            if (!Players.Contains(player))
            {
                Players.Add(player);
            }
        }
        else
        {
            if (Players.Contains(player))
            {
                Players.Remove(player);
            }
        }
    }

#endregion
}